body{
    font-family: 'Segoe UI light';
}
.imageItem{
    cursor: pointer;
    position: relative;
}
.caption{
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 15%;
}
.lightBox-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
}
.box{
    position: relative;
    width: 50%;
    height: 500px;
    background-image: url(../images/proj-pic6.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box i{
    font-size: 1.2rem;
    cursor: pointer;
    
}
#close{
    position: absolute;
    top: 10px;
    right: 10px;
}